<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fjz.androidlittlesamples">

    <!-- Needed only for demonstration purposes, not required to use GcmNetworkManager -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="activity_metadata"
                android:value="metadata in activity" />
        </activity>

        <activity-alias
            android:name=".ActivityAppAlias"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher2"
            android:label="@string/app_name2"
            android:targetActivity=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".ActivityDynamicLauncherIcon" />
        <activity android:name=".tts.TTSDemo" />
        <activity android:name=".recyclerviewitemclicklistener.RvItemClickDemo" />
        <activity android:name=".viewscrolldemo.ViewScrollDemo" />
        <activity android:name=".backgroundjobscheduler.JobSchedulerActivity" />

        <service
            android:name=".backgroundjobscheduler.FirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name=".backgroundjobscheduler.GcmNetworkTaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <activity android:name=".databindingdemo.DatabindingDemoActivity" />
        <activity android:name=".metadata.ReadMetadataActivity" />

        <service
            android:name=".metadata.MetadataService"
            android:enabled="true"
            android:exported="false">
            <meta-data
                android:name="service_metadata"
                android:value="metadata in service" />
        </service>

        <meta-data
            android:name="application_metadata"
            android:value="metadata in application" />

        <receiver
            android:name=".metadata.MetadataReceiver"
            android:enabled="true"
            android:exported="true">
            <meta-data android:value="metadata in receiver" android:name="receiver_metadata"></meta-data>
        </receiver>
    </application>

</manifest>